/*my css*/

.map_canvas{
  height: 100%;
  width: 100%;
  top: 3em;
  left: 0;
  position: absolute;
  z-index: -1;
}

.topbar{
        height: 3em;
        line-height: 3em;
        background: #69D2E7;
        color: #fff;
        min-width: 960px;
        display: block;
        padding-left: 1em;
        padding-right: 1em;
}